/* Footer Stil */
footer {
  width: 100%;
  background-color: #2c2b2b;
  color: white;
  padding: 50px 20px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.footer-column h4 {
  margin-bottom: 15px;
  color: #fff;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 10px 0;
}

.footer-link {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: rgb(7, 74, 133);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
}

.footer-bottom h5, .footer-bottom h6 {
  margin: 5px 0;
}

/* Responsivlik */
@media (max-width: 600px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
